.container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 10% 1fr 10%;
    height: 100vh;
    gap: 1px;
}

.header {
    background-color: blue;
    grid-column: 1/4;
}

.main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50%;
    gap: 10px;
}

.content {
    grid-template-columns: 1fr;
    grid-template-rows: 50%;
    gap: 10px;
}

.more1 {
    background-color: purple;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.more2 {
    background-color: purple;
    grid-template-columns: 1fr 1fr;
}

.more3 {
    background-color: purple;
    grid-template-columns: 1fr 1fr;
}

.sidebar {
    background-color: pink;
}

.footer {
    background-color: greenyellow;
    grid-column: 1/4;
}