.header {
    background-color: blue;
    grid-column: 1/4;
    grid-area: header;
}

.sidebar {
    background-color: pink;
    grid-area: sidebar;
}

.main {
    background-color: yellow;
    grid-area: main;
}

.footer {
    background-color: greenyellow;
    grid-column: 1/4;
    grid-area: footer;
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 10% 1fr 10%;
    height: 90vh;
    grid-template-areas:
        "header header header header"
        "sidebar main main main"
        'footer footer footer footer';

}